@charset "UTF-8";

body {
background-color: rgb(155, 233, 247);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
}
h1 {
    color: blue; 
    font-size: 1.5em; 
    background-color: cadetblue;
}

h2 {
    color: darkred;
    font-size: 1.2em;
}

p {
    text-align:justify;
    font-size:18px;
}