@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(imagens/background3.jpg);
    background-repeat:no-repeat;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background:rgba(5, 37, 41, 0.253);
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-shadow: 4px 4px 4px orange;
}
.input-box{
    position:relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #d16207e3;
}
.input-box label{
    position:relative;
    top: 50%;
    left: 5px;
    transform: translate(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ :valid{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background:transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.forget label input{ 
    margin-right: 3px;
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
    color: rgba(236, 104, 9, 0.76);
}
button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #df790457;
    color: #fff;
    border: none;
    outline: ;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
button:hover {
    background-color: rgba(236, 104, 9, 0.76);
    
}
.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: rgba(236, 104, 9, 0.76);
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
